.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .circle {
    border: 1px solid #000000;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .action {
    margin: 10px;
  }
  
  button {
    cursor: pointer;
  }
  

  .demo-wrapper {
    background-color: red;
    width: 30px;
    height: 30px;
  }

  .animation-keyframes-demo {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: black;
    margin-top: 4rem;
  }


  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    height:auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }



  .container--middle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .container__sidebar {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .container__lightbulb {
    margin: 10px;
    background-color: #ffffff;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid peachpuff;
    border-radius: 50%;
  }


  .button-section {
    width: 70%;
    height: 40vh;
    background-color: gray;
    display: flex;
    flex-direction: column;
  }
  
  .container__buttons {
    width: 50%;
    height: auto;
    margin: auto;
    background-color: red;
  }


  .button {
    width: auto;
    height: auto;
    background-color: black;
    color: white;
  }
